<%= image_tag 'Drawing.png', class: "img-responsive", id: "about-image" %>


<div class="about-row">
  <h2>What is My Piggy Bank?</h2>
  <p class="lead">
    My Piggy Bank is an online tool to help parents teach their kids about money. Parents create a family bank, add accounts for their children, and act as the banker. Parents can login, view their children's savings, account history, and approve transactions for allowances, chores, toys etc. Children can login to their account and view their curent savings. If is a child has actual cash to deposit or needs cash to spend, they can make a transaction request from their account. A parent can then log in, approve the request, exchange the money, and the new transacton is recorded.
  </p>
</div>
