<div class="jumbotron">
  <center>
  <div class="intro-heading">Good Habits Start Early</div>
  <%= image_tag 'Drawing.png', id: "header-image", class: "img-responsive" %>
  <div class="intro-text">Teach your child personal finance</div>
</center>
</div>
