<h2>This is <%= @parent.username %>'s bank </h2>
<h2>Bank name: <%= @bank.name %> </h2>



<%= link_to "Add a child to your bank", new_child_registration_path(:bank => @bank)   %>


<% if @bank.children.any? %>
<ul>
  <% @bank.children.each do |child| %>
    <li><%= child.username %></li>
  <% end %>
</ul>

<% end %>
