.child_page {
  background-color: #60CA95;
}

#transaction_chart {
  margin: auto;
  text-align: center;

}

#left_column {
  margin: auto;
  padding: 20px;
  text-align: center;
}

#child_transaction_view {


}

#child_transaction_view .panel {
  margin-top: 200px;
  padding: 25px;
}
