.child_page {
  background-color: #60CA95;
  height: 100%;
}

#child_page_view {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#transaction_chart {
  margin: auto;
  text-align: center;


}

#left_column {
  margin-left: auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
}



#child_transaction_view .panel {
  padding: 25px;
}

.child_request_view  {
  padding: 25px;
}

#child_transaction_view {
  background-color: rgba(255, 255, 255, 0.75);
}


#child_transaction_view .panel {
  background-color: rgba(255, 255, 255, 0.75);
}


#left_column_chart {
  border: none;
}
