.child_page {
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(46,209,140,1) 100%);
  height: 100%;
  font-family: 'Wellfleet', cursive;
}

.child_page h1 {
  font-family: 'Wellfleet', cursive;
}

.child_page h2 {
  font-family: 'Wellfleet', cursive;
}

#child_page_view {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#transaction_chart {
  margin: auto;
  text-align: center;
}

#left_column {
  margin-left: auto;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
  -moz-box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
  box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
}


.child_request_view  {
  padding-bottom: 25px;
}

#child_transaction_view {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  -webkit-box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
  -moz-box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
  box-shadow: 6px 10px 15px 5px rgba(0,0,0,0.55);
}

#child_transaction_view .panel {
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 10px;
}

.child_account_title {
  text-align: center;
  font-size: 3em;
}


/*request buttons*/
#request_buttons {
  text-align: center;
}

.btn-danger{
  background-color: #D1472E;
}

.btn-success {
  background-color: #198457;
}
