.parent_request_view  {
  padding: 25px;
}

#parent_transactions_list_view {
  margin: auto;
  -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
}

.parent_account_stats {
  margin-left: 30px;
}

#list_column {
  padding: 0px 20px 20px 20px;
  -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);

}

#list_column h1 {
  text-align: center;
}

#parent_child_stats_panel {
  margin-left: 3%;
  margin-right: 2%;
  -webkit-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  -moz-box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
  box-shadow: 10px 10px 19px -5px rgba(0,0,0,0.48);
}

#child_list {
  padding-left: 0px;
}
#child_list li {
  padding: 5px;
}

.child_name {
  font-size: 1.5em;
  padding-right: 5px;
}

.add_child_link {
  font-size: 1.25em;
  padding-bottom: 10px;
}
