.parent_request_view  {
  padding: 25px;
}

#parent_transactions_list_view {
  margin: auto;
}

.parent_account_stats {
  margin-left: 30px;
}

#list_column {
  margin-left: 25px;
  margin-right: 30px;
  max-width: 30%;
  padding: 0, 0, 0, 30px;

}

#parent_child_stats_panel {
  margin-left: 3%;
  margin-right: 2%
}
