// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// homepage
.jumbotron {
  height: 600px;
  margin-top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1;
  margin-bottom: 0;
  background-color : #FFFFF7;
  color: #fff;
  max-height: 500px;
  font-family: 'Wellfleet', cursive;
}

.jumbotron .intro-heading {
    color: #2ed18c;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

#header-image {
  margin-bottom: 20px;
}

.jumbotron .intro-text {
    margin-bottom: 25px;
    font-family: 'Wellfleet', cursive;
    font-size: 22px;
    line-height: 22px;
    color: #2ed18c;
}

// aboutpage
#about-image {
  margin-left: auto;
  margin-right: auto;
}

.about-row {
  padding-top: 25px;
  padding-left: 5%;
  padding-right: 5%;
}
.about-row h2 {
  text-align: center
}

.modal-img {
  width: 90%;
  height: 80%;

}

#step2 {
  display: none;
}
