
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'static_pages';
@import 'child_page';
@import 'parent_bank_view';

// navigation
.navbar {
  padding: 20px;
  font-family: 'Wellfleet', cursive;
}

.navbar-brand {
  font-size: 30px;
}

.nav li {
  font-size: 20px;
}

#nav-logo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

#child_list{
  list-style: none;
}

#hide_child_transactions {
  display: none;
}

/*transaction chart*/
#transaction_chart {
  height: 400px;
  width: 100%;
}

.table {
  margin: 3%;
  width: 94%;
}

#transactions_search {
  margin-left: 3%;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}
