
   <script type="text/javascript"
         src="https://www.google.com/jsapi?autoload={
           'modules':[{
             'name':'visualization',
             'version':'1',
             'packages':['corechart']
           }]
         }"></script>

   <script type="text/javascript">
     google.setOnLoadCallback(drawChart);

     function drawChart() {
       var data = new google.visualization.DataTable();


         data.addColumn('date', 'Transaction Date');
         data.addColumn('number', 'Balance');

         data.addRows([
           <% @chart_data.each do |day| %>
           [ new Date ('<%= day[:date] %>'),( <%= day[:total] %>)],
           <% end %>

        ]);


       var formatter = new google.visualization.DateFormat({formatType: 'short'});
       var options = {
         title: 'Transaction History',
         legend: { position: 'bottom' }
       };

       var chart = new google.visualization.LineChart(document.getElementById('transaction_chart'));

       chart.draw(data, options);
     }
   </script>


   <div id="transaction_chart" style="width: 900px; height: 500px"></div>
